<!-- 
  Individual Travel booking system for trains
  Author: Ryan Morgan
  Group: Easy Travel 
-->
{% extends 'base.html' %}

{% block title %}Admin Report - Passengers{% endblock %}

{% block header %}
  Admin Report, View Passengers on a Journey - {{name}}
{% endblock %}


{% block main %}
<div id="formInput">
  <h2 id="ContentTitle">View Passengers on a Journey By Using the Form Below:</h2>
  <form method="POST">
    <div class="form">
        <div class="FormItem">
            <label for="trip">Journeys:</label><br>
            <select class="input" id="trip" name="trip">
                <option value="" disabled selected>Booked Trips...</option>
                {% for row in trips %}
                <option value="{{row[0]}}">{{row[0]}} | {{row[1]}} | {{row[2]}} | {{row[3]}} | {{row[4]}} | {{row[5]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="FormItem">
            <label for="dateJourney">Date of Journey:</label><br>
            <input type="date" class="input" id="dateJourney" name="dateJourney" required>
          </div>
        <div class="FormItem">
            <a href="" onclick="resetForm()"><b><u>Reset Form</u></b></a>
        </div>
        <div class="FormItem">
            <button type="submit" class="input btn">View</button>
        </div>
        <script>
            function resetForm() {
            document.getElementById("bookForm").reset();
            }
        </script>
    </div>
  </form>
</div> 
{% endblock %}  

{% block aside %}
  <h2>What?</h2>
  <p>This is an admin report. View bookings that were made by customers in a specified time period!</p>
  <h2>Where?</h2>
  <p>You can use the form to select dates.</p>
  <h2>How?</h2>
  <p>Enter details into the form and click the submit button.</p>
{% endblock %} 
