<!-- 
  Individual Travel booking system for trains
  Author: Ryan Morgan
  Group: Easy Travel 
-->
{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block header %}
  Change Password
{% endblock %}


{% block main %}
<div id="formInput">
  <h2 id="ContentTitle">Change Your Password Using the Form Below:</h2>
  <form method="POST">
    <div class="form">
      <div class="FormItem">
        <label for="email">Account Email:</label><br>
        <input type="email" class="input" id="email" name="email" required>
      </div>
      <div class="FormItem">
        <label for="oldpassword">Old Password:</label><br>
        <input type="password" class="input" id="oldpassword" name="oldpassword" required>
      </div>
      <div class="FormItem">
        <label for="password1">New Password:</label><br>
        <input type="password" class="input" id="password1" name="password1" required>
      </div>
      <div class="FormItem">
        <label for="password2">Repeat New Password:</label><br>
        <input type="password" class="input" id="password2" name="password2" required>
      </div>
      <div class="FormItem">
        <button type="submit" class="input btn">Submit</button>
      </div>

    </div>
  </form>
</div> 
{% endblock %} 

{% block aside %}
  <h2>What?</h2>
  <p>Change your password using the form!</p>
  <h2>Where?</h2>
  <p>Type you details into the text boxes on the form.</p>
  <h2>How?</h2>
  <p>Click the button on the bottom of the form to submit your details!.</p>
{% endblock %} 
