<!DOCTYPE html>
<html>
  <!-- 
  Individual Travel booking system for trains
  Author: Ryan Morgan
  Group: Easy Travel 
-->
<head>
  <title>Payment Successful</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSmedia.css') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>


  <div style="margin: auto;">
    <div class="form">
        <h2>Payment with PayPal is Successful.</h2>
    </div>
  </div>

</body>
</html>
