<!-- 
  Individual Travel booking system for trains
  Author: Ryan Morgan
  Group: Easy Travel 
-->
{% extends 'base.html' %}

{% block title %}Payment{% endblock %}

{% block header %}
  Payment for Train Booking
{% endblock %}

{% block menu %} <!-- Display no menu so user is less likely to escape payment. -->
{% endblock %}

{% block main %}
<div id="formInput">
  <h2 id="ContentTitle">Pay for Train Booking:</h2>
  <form method="POST" id="bookForm">
    <div class="form">
        <div class="FormItem">
            <p><b>Payment Type:</b></p>
            <input type="radio" id="paytype" name="paytype" value="card" onclick="showCard()" required>
            <label for="return">Card</label>
            <input type="radio" id="paytype" name="paytype" value="paypal" onclick="showPaypal()"required>
            <label for="return">PayPal</label>
        </div>
        <div id="cardDiv">
            <div class="FormItem">
                <label for="cardNum">Card Number:</label><br>
                <input type="number" class="input" id="cardNum" name="cardNum" max="9999999999999999" size="16"> 
            </div>
            <div class="FormItem">
                <label for="cardName">Name on card:</label><br>
                <input type="text" class="input" id="cardName" name="cardName">
            </div>
            <div class="FormItem">
                <label for="cardExp">Expires:</label><br>
                <input type="text" class="input" id="cardExp" name="cardExp" max="9999" size="4">
            </div>
            <div class="FormItem">
                <label for="cardCVV">CVV:</label><br>
                <input type="number" class="input" id="cardCVV" name="cardCVV" max="999" size="3">
            </div>
            <div class="FormItem">
              <button type="submit" class="input btn">Pay</button>
          </div>
        </div>
        <div id="paypalDiv">
            <div class="FormItem">
                <label for="paypalID">PayPal:</label><br>
                <!-- Display the payment button. -->
                <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now" onclick="window.open('paymentsuccess','success','width=300,height=170')">
            </div>
        </div>
        <div class="FormItem">
            <a href="" onclick="resetForm()"><b><u>Reset Form</u></b></a>
        </div>
        <script>
            document.getElementById('cardDiv').style.display = 'none'
            document.getElementById('paypalDiv').style.display = 'none'
            function showCard(){
              document.getElementById('cardDiv').style.display = 'block'
              document.getElementById('paypalDiv').style.display = 'none'
            }
            function showPaypal(){
              document.getElementById('cardDiv').style.display = 'none'
              document.getElementById('paypalDiv').style.display = 'block'
            }
            function resetForm() {
              document.getElementById("bookForm").reset();
            }
          </script>
    </div>
  </form>
</div> 
{% endblock %}

{% block aside %}
  <h2>What?</h2>
  <p>Pay for your booking using this form!</p>
  <h2>Where?</h2>
  <p>PayPal's "Buy Now" button.</p>
  <h2>How?</h2>
  <p>Click on PayPal's "Buy Now" button and a new window will open confirming payment.</p>
{% endblock %} 

